version: '3.9'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./frontend/db.sqlite3:/app/frontend/db.sqlite3
      - ./.env:/app/.env:ro
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "8080:8080"
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:8000
    volumes:
      - ./frontend/db.sqlite3:/app/db.sqlite3
    restart: unless-stopped

networks:
  default:
    driver: bridge
